html
    head
        include head.pug
    body <body class="hold-transition skin-blue sidebar-mini">
        include datatable.pug
        include conten.pug
        include js.pug
        include nav.pug
        include sidebar.pug